Repository sillsdev/libpalaso, pull requests merged in 2022-09, with the labels that each got.

#1220 PG-1487: Added support for USX version 3 (chapter end nodes).
  CHANGELOG.md
  Palaso.sln.DotSettings
  SIL.DblBundle.Tests/Usx/UsxDocumentTests.cs
  SIL.DblBundle.Tests/Usx/UsxNodeTests.cs
  SIL.DblBundle/Bundle.cs
  SIL.DblBundle/Usx/UsxNode.cs
Labels: enhancement, api change, documentation

#1223 +semver:minor Added TypeOfExistingHandler property to ExceptionHandler.
  CHANGELOG.md
  SIL.Core.Tests/Reporting/ExceptionHandlerTests.cs
  SIL.Core/Reporting/ExceptionHandler.cs
Labels: enhancement, api change

#1228 Remove deprecated members
  CHANGELOG.md
  SIL.Core.Desktop/IO/DirectoryUtilities.cs
  SIL.Core.Desktop/IO/FileLocator.cs
  SIL.Core.Desktop/IO/FileUtils.cs
  SIL.Core/CoreSetup.cs
  SIL.Core/Data/ResultSet.cs
  SIL.Core/Extensions/CollectionExtensions.cs
  SIL.Core/IO/PathUtilities.cs
  SIL.Core/Network/HttpEncoderFromMono.cs
  SIL.Core/Network/HttpUtilityFromMono.cs
  SIL.Core/Reporting/ExceptionHandler.cs
  SIL.Core/Reporting/UsageReporter.cs
  SIL.Core/Xml/XmlUtils.cs
  SIL.DblBundle/Text/TextBundle.cs
  SIL.DictionaryServices.Tests/Lift/LiftWriterTests.cs
  SIL.Media/AudioFactory.cs
  SIL.TestUtilities.Tests/TemporaryFolderTests.cs
  SIL.TestUtilities/TemporaryFolder.cs
  SIL.Windows.Forms/ClearShare/MetaData.cs
  SIL.Windows.Forms/Widgets/BetterGrid/PushButtonColumn.cs
Labels: api change
